extends ebody
block body
    block precontent
    #main-container.container
        br
        block sitenotice
            include ./comps/notice
        block content
                
    block footer
        include ./comps/footer