html
    head
        block title
            title #{site.title}
        //- link(rel="stylesheet", href="../css/site.css")
        block includingCSS

        //- script(src="/js/site.js")
        block includingJS
    body
        block sitenotice
        block precontent
        block content
        block foot