html(style="height:100%")
    include ./components/head
    body
        include ./components/navbar
        .container
            br
            include ./components/notice
            #app
            include ./components/footer