extends ../../../common/hpug/body
block title
    title 在线图片压缩-慕秋
block content
    h2 在线图片压缩
        small 基于开源项目:compress.js
    .row   
        .col-md-6.col-sm-6.col-xs-12
            input(id="upload" type="file")
            span.help-block 首先,上传图片
            input(id="range" style="width:50%" type="range" value="20")
            span.help-block
                span .压缩率:
                span#percent
                span %
        .col-md-6.col-sm-6.col-xs-12
            h3 右键或长按即可保存压缩后的图片
            img#display.img-responsive
