extends ../../../common/hpug/body
block title
    title 在线图片压缩-慕秋
block content
    h1 在线图片压缩
        small 基于开源项目:ImageCompression
    input(id="upload" type="file")
    //- input(type="button" onclick="upload.click")
    img#display
    button#do DO
