extends ../../../common/hpug/body
block title
    title 在线图片压缩-慕秋
block content
    h2 在线图片压缩
        small 基于开源项目:compress.js
    p 第一步:上传图片
    p 第二步:根据需要调整图片质量
    p 第三步:右键或长按保存图片

    input(id="upload" type="file")
    input(id="range" style="width:50%" type="range")
    div(style="width:100%;height:1px;background:gray")
    img#display
