#header{
    background-image: url('./headbg2.jpeg');
    margin: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.text-in-white{
    color:white;
}