//- div(style="background:black;height:1px;width:100%;padding:0px;margin:0px")
footer
    #main-footer
        .row
            .col-md-4.col-sm-4.col-xs-4
                h4 联系
                h5 zsh2401@163.com
                h5 群:468029710
            .col-md-4.col-sm-4.col-xs-4
                h4 开放源代码
                a(href="https://github.com/zsh2401/fond_of_autumn") Github Repo
            .col-md-4.col-sm-4.col-xs-12
                h4 友情链接
                a(href="https://zsh2401.top") 2401的晚秋咖啡<br>
                a(href="https://atmb.top") 秋之盒
    h5.text-center Love you,Yin.
    h5.text-center Copyright © 2019 - 2020 zsh2401,All Rights Reserved
    br
