nav(role="navigation").navbar.navbar-default.navbar-fixed-top.noradius
    .container
                .navbar-header
                    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-c")
                        span.sr-only 切换导航
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href="/" style="margin:0px;padding: 0px;").navbar-brand 
                        img(id="brandImg" alt="Brand").img-responsive
                
                #navbar-c.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-left
                        li
                            a(href="/fun/") 
                                span.glyphicon.glyphicon-th-large 
                                span  库
                        li
                            a(href="/discover/") 
                                span.glyphicon.glyphicon-paperclip 
                                span  发现
                        li
                            a(href="/donate/") 
                                span.glyphicon.glyphicon-heart-empty 
                                span  捐赠
                        li
                            a(href="/about/")
                                span.glyphicon.glyphicon-link 
                                span  关于