html(style="height:100%")
    include ./components/head
    body
        include ./components/navbar
         .container
            include ./components/notice
            block content
            include ./components/footer