extends ../../../common/templates/pug/std.pug
block customMeta
    
block body
    .jumbotron.header
        .container
            h1.text-center 慕秋
            h5.text-center yearn4autumn
            br
    .container
        h3 此网站还在建设...
        h3 There'll be a day
        #vcomment
        include ../../../common/hpug//comps/footer
