extends ../../../common/hpug/ebody
block body
    .jumbotron.header
        .container
            h1.text-center 慕秋
            h5.text-center fond of autumn
            br
    .container
        h3 Try this
        h3 There'll be a day
        include ../../../common/hpug//comps/footer
//- block content
//-     h3 Try this
//-     h3 There'll be a day
