::-webkit-scrollbar{
    display:none;
}
*{
    font-family: Microsoft YaHei UI Light,Microsoft YaHei, sans-serif;
}
body{
    padding-top: 50px;
    background-color: whitesmoke;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed; */
}
.container{
    color: black;
    background-color: white;
    min-height: 100vh;
}